.container-fluid{
    width: 100%;
    padding: 10px;
    background: white;
    border-bottom: 2px solid black;
    box-sizing: border-box; 
    background-color: #f1f8fc;
    border: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo{
    width: 350px;
}

.logo:hover{
    cursor: pointer;
}

.recherche-produit {
    clear: both;
}

.recherche-produit {
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 20px;
    width: 100%; 
    font-family: "Comfortaa", sans-serif;
    display: flex; 
    justify-content: flex-end; 
}
  
.recherche-produit input[type="search"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: 'Graphik', sans-serif;
}

.recherche-produit button[type="submit"] {
    width: 40%; 
    padding: 10px;
    background-color: #0074c7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
.recherche-produit button[type="submit"]:hover {
    background-color: #0074c7;
}

.recherche-produit form {
    display: flex; 
    justify-content: flex-end; 
}

.desktop_menu{
    margin-top: 40px;
    text-align: right;
    font-family: "Comfortaa", sans-serif;
}

.desktop_menu ul{
    padding: 0;
    margin: 0;
    color: #384050;
    
}

.desktop_menu ul li{
    list-style-type: none;
    color: #384050;
    display: inline-block;
    font-size: 18px;
    margin-left: 30px;
    padding-right: 60px;
    
}

.desktop_menu ul li:hover{
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: #DA001E;
    transition: 0.4s ease-in-out;
    
}

.menu-icon{
    display: none;
}

.mobile_menu {
    color: #00FF00; 
}

.desktop_menu a {
    color: #384050; 
    font-family: 'Graphik', sans-serif;
}
    
@media screen and (min-width: 128px) and (max-width: 900px) {
        .desktop_menu {
            position: fixed;
            right: 0;
            top: 64px;
            background: #eee;
            width: 280px;
            height: 100%;
        }
        .desktop_menu ul li {
            display: block;
            text-align: left;
            margin: 0;
            padding: 10px 0 10px 26px;
            border-bottom: 1px solid grey;
        }
        .menu-icon{
            display: block;
            color: #151217;
            font-size: 40px;
            padding: 10px;
        }
        .mobile_menu{
            right: 0;
            transition: 0.4s ease-in
        }
    }
    