

<footer>
  <h1>{{title}}</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="bloc1">
            <h2>Informations légales</h2>
             <ul>
                <li><a routerLink="/mentions">Mentions légales</a></li>
                <li><a routerLink="/donneespersonnelles">Données personnelles</a></li>
                <li><a routerLink="/accessibilite">Accessibilité</a></li>
                <li><a routerLink="/cookies">Cookies</a></li>
             </ul>
        </div>
        <div class="bloc2">
            <h2>Adresse et contact</h2>
              <ul>
                <li>101 cours Charlemagne</li>
                <li>CS 20033</li>
                <li>69269 LYON CEDEX 02</li>
                <li>101 cours Charlemagne</li>
                <li>01 67 35 89 32</li>
              </ul>
        </div>
    </div>
  </div>
</footer>
    
  